<div class="container">
  <h1>User Management</h1>
  <button (click)="openModal()"
          [class.disabled]="isDisabled$ | async">Add User</button>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Active</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users$ | async">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>
          <app-toggle [ngModel]="user.active"
                      (ngModelChange)="toggleActive(user)"></app-toggle>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<user-modal></user-modal>
