$modal-bg: #fff;
$modal-border-radius: 8px;
$modal-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
$overlay-bg: rgba(0, 0, 0, 0.5);
$transition-speed: 0.3s;
$error-color: rgb(214, 16, 16);

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $overlay-bg;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity $transition-speed ease,
    visibility $transition-speed ease;
  z-index: 999;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $modal-bg;
  border-radius: $modal-border-radius;
  box-shadow: $modal-shadow;
  width: 90%;
  max-width: 500px;
  z-index: 1000;
  transform: translate(-50%, -50%) scale(0.8);
  transition:
    opacity $transition-speed ease,
    transform $transition-speed ease;

  &.active {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  .modal-header {
    padding: 16px;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      margin: 0;
      font-size: 1.5em;
    }

    .close-button {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1.5em;
      color: #333;
    }
  }

  .modal-body {
    padding: 16px;

    .error {
      color: $error-color;
    }

    .control {
      display: flex;
      gap: 10px;
      justify-content: flex-start;
      min-height: 50px;

      .input-wrapper {
        display: flex;
        flex-direction: column;

        input.has-error {
          border-color: $error-color;
        }
      }
    }
  }

  .modal-footer {
    padding: 16px;
    border-top: 1px solid #e0e0e0;
    display: flex;
    justify-content: flex-end;

    .button {
      margin-left: 10px;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color $transition-speed ease;

      &.primary {
        background-color: #007bff;
        color: #fff;

        &:hover {
          background-color: darken(#007bff, 10%);
        }
      }

      &.secondary {
        background-color: #f0f0f0;
        color: #333;

        &:hover {
          background-color: darken(#f0f0f0, 10%);
        }
      }

      &.disabled {
        cursor: unset;
        background-color: grey;
        &:hover {
          background-color: grey;
        }
      }
    }
  }
}
